Repository Dwolla/fs2-aws: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-java-sdk2 PRs, Label core PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=dwolla-oss-scala-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13, temurin@8)
  - status-success=Build and Test (ubuntu-latest, 2.13, temurin@11)
  - status-success=Build and Test (ubuntu-latest, 2.12, temurin@8)
  - status-success=Build and Test (ubuntu-latest, 2.12, temurin@11)
  actions:
    merge: {}
- name: Label aws-java-sdk2 PRs
  conditions:
  - files~=^aws-java-sdk2/
  actions:
    label:
      add:
      - aws-java-sdk2
      remove: []
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []

publish from the 3.x branch instead of main
  .github/workflows/ci.yml
  build.sbt
Due: none

use oss.sonatype.org since Dwolla hasn't migrated to the new OSS host
  build.sbt
Due: none

Update mergifyStewardConfig to use the new API
  build.sbt
Due: none

run githubWorkflowGenerate
  .github/workflows/ci.yml
Due: none

remove Sha256Pipe; users should use fs2.hashing.Hashing instead
  build.sbt
  core/jvm/src/main/scala/com/dwolla/fs2utils/hashing/Sha256Pipe.scala
  core/jvm/src/test/scala/com/dwolla/fs2utils/hashing/Sha256PipeSpec.scala
  core/shared/src/main/scala/com/dwolla/fs2utils/hashing/package.scala
  core/shared/src/test/scala/com/dwolla/fs2utils/hashing/HexStringsSpec.scala
Due: Label core PRs

remove fs2-aws-java-sdk2; users should use smithy4s to generate clients instead
  aws-java-sdk2/src/main/scala/com/dwolla/fs2aws/kms/KmsAlg.scala
  aws-java-sdk2/src/main/scala/com/dwolla/fs2aws/package.scala
  build.sbt
Due: Label aws-java-sdk2 PRs

address fs2 deprecation warnings
  core/shared/src/test/scala/com/dwolla/fs2utils/PaginationSpec.scala
Due: Label core PRs

use tlCrossRootProject
  build.sbt
Due: none

use sonatypeCredentialHost instead of deprecated tlSonatypeUseLegacyHost
  build.sbt
Due: none

run githubWorkflowGenerate
  .github/workflows/ci.yml
  .mergify.yml
Due: none

use ScalaCheck to drive the Pagination tests
  build.sbt
  core/shared/src/test/scala/com/dwolla/fs2utils/PaginationSpec.scala
Due: Label core PRs

prepare Pagination for contribution to fs2
  build.sbt
  core/shared/src/test/scala/com/dwolla/fs2utils/PaginationSpec.scala
Due: Label core PRs
